# environment
venv

# py
__pycache__

# images
rsc/img/background.pptx

# dist
build
git_assistant.egg-info

# streamlit app
git_assistant.py
rsc
.streamlit
requirements.txt

git_assistant.ipynb
business.docx
trash