# credentials
.streamlit/secrets.toml

# environment
venv

# py
__pycache__

# images
rsc/img/background.pptx
rsc/img/imgs.pptx
*.mp4

# dist
build
dist
git_assistant.egg-info
setup.py

git_assistant.ipynb
business.docx
trash
.gitassistant

